.about {
  padding: 15px 15px;
}
.service_icon .MuiSvgIcon-root {
  width: 55px;
  height: 55px;
  margin-right: 15px;
  color: #ffb100;
}
.service_title {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-top: 20px;
  margin-bottom: 5px;
}

.service_content {
  font-size: 14px;
  font-weight: 400;
  color: #555;
  min-height: 80px;
}

.services {
  background-color: #f0f0f0;
  padding: 15px 15px;
}

.service {
  border-radius: 5px;
  padding: 15px;
  padding-top: 20px;
  margin: 15px 0px;
  background-color: #fff;
}
.content_block {
  padding-top: 50px;
  padding-bottom: 50px;
}

.skillBar_header {
  font-size: 14px;
  font-weight: 500;
  color: #555;
  margin-top: 20px;
}
.skillBar {
  margin-bottom: 15px;
}
