.resume_timeline .MuiTimelineItem-missingOppositeContent:before {
  flex: 1;
  content: "41564684";
  padding: 6px 16px;
  display: none;
}

.resume_timeline_header .MuiTimelineItem-missingOppositeContent:before {
  flex: 1;
  content: "41564684";
  padding: 6px 16px;
  display: none;
}

.resume_timeline .MuiTimelineSeparator-root {
  padding-left: 16px;
}
.level_title {
  font-size: 16px;
  color: #333;
  margin: 0;
}

.level_year {
  font-size: 14px;
  color: rgb(199, 156, 64);
}

.level_content {
  font-size: 15px;
  color: #444;
  min-height: 50px;
  margin-bottom: 5px;
}
